<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ProEvento</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Dashboard
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="eventos/lista">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contatos">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="perfil">Perfil</a>
        </li>
      </ul>
      <ul class="navbar-nav">

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuário
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" routerLink="user/login">
              Sair
            </a>
          </div>
        </li>


      </ul>
      <!-- <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="user/registration">Sair</a>
          </div>
        </li>
      </ul> -->
      <!-- <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
    </div>
  </div>
</nav>
