<ul class="nav bg-dark">
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="#">
      ProEventos
    </a>
    <!-- <button
      class="navbar-toggle"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="eventos">Eventos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contatos">Agenda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="">Sobre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contato</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
      >Disabled</a
    >
  </li> -->
</ul>
